@import "tailwindcss";

body{
  height: 100vh;
  background-color: #111;
}

body::-webkit-scrollbar{
  display: none;
}
#taskList::-webkit-scrollbar{
    display:none;
}
#alltasklist::-webkit-scrollbar{
    display:none;
}
